<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Livraria</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<h1>Sistema Biblioteca do seu Ze</h1>
	<div class="container-fluid" />
		<div class="row-fluid" />
			<div class="span3">
				<a href="/livro/adicionar.html" class="btn">Cadastrar Livro</a>
				<hr />
			</div>
</body>
</html>